{% extends "rtc/layout.html" %}
{% block content %}
    <style>
    #answerButton {
        margin-left: 60px;
    }
    </style>
    <video autoplay id="localVideo"></video>
    <video autoplay id="remoteVideo"></video>

    <p><button id="startButton">Start</button><button id="answerButton">Answer</button></p>

    <script src="//cdn.temasys.com.sg/adapterjs/latest/adapter.debug.js"></script>
    <script src="//code.jquery.com/jquery-2.1.3.js"></script>
    <script>
        (function () {
            var localVideo = document.getElementById('localVideo'),
                    remoteVideo = document.getElementById('remoteVideo'),
                    callButton = document.getElementById('startButton'),
                    answerButton = document.getElementById('answerButton'),
                    servers = null,
                    mandatory = {
                        'mandatory': {
                            'OfferToReceiveAudio': false,
                            'OfferToReceiveVideo': false
                        }
                    };
            callButton.onclick = function (user) {
                user = 'localUser';
                getUserMedia({audio: false, video: true}, function (stream) {
                            attachMediaStream(localVideo, stream);
                            var pc = new RTCPeerConnection(servers);
                            pc.addStream(stream);
                            pc.onaddstream = function (e) {
                                console.log(e);
                                attachMediaStream(remoteVideo, e.stream);
                                console.log('Remote video was added to Offer!');
                            };

                            var gotCandidates = setInterval(function () {
                                jQuery.post(
                                        "candidate/", {
                                            candidate: '',
                                            type: 'offer'
                                        },
                                        function (data) {
                                            if (!$.isEmptyObject(data)) {
                                                pc.addIceCandidate(new RTCIceCandidate(data), function (pc) {
                                                    console.log('Offer addIceCandidate from answer');
                                                }, function (pc, error) {
                                                    console.log(error);
                                                });
                                            }
                                        }
                                );
                            }, 500);
                            var num = 0;
                            pc.onicecandidate = function (event) {
                                if (event.candidate) {

                                    jQuery.post(
                                            "candidate/", {
                                                candidate: JSON.stringify(event.candidate),
                                                type: 'offer',
                                                num : num++
                                            },
                                            function (data) {
                                            }
                                    );
                                } else {
                                    console.log("End of candidates.")
                                }
                            };

                            pc.oniceconnectionstatechange = function (e) {
                                console.log('Offer ICE state: ' + pc.iceConnectionState);
                            };

                    pc.createOffer(function (offer) {
                        pc.setLocalDescription(offer, function () {
                            // Send offer to remote end.
                            console.log("setLocalDescription, sending to remote");
                            jQuery.post(
                                    "offer/", {
                                        offer: JSON.stringify(offer)
                                    },
                                    function() {
                                        console.log("Offer sent!");
                                        var timeout = setInterval(function(){
                                            jQuery.get(
                                                    "get_answer/", {},
                                                    function (answer) {
                                                        if (!$.isEmptyObject(answer)) {
                                                            pc.setRemoteDescription(new RTCSessionDescription(answer), function () {
                                                                console.log("Offer set Remote Description!");
                                                            }, error);
                                                            clearInterval(timeout);
                                                        }
                                                    }
                                            );
                                        }, 1000);
                                    }
                            ).error(error);
                        });
                    }, error, mandatory);
                },
                error
                );
            };

            answerButton.onclick = function (user) {
                jQuery.get(
                        "get_offer/", {},
                        function (offer) {
                            if ($.isEmptyObject(offer)) {
                                return false;
                            }
                            console.log('Offer received ');
                            getUserMedia({audio: false, video: true}, function (stream) {
                                attachMediaStream(localVideo, stream);
                                var pc = new RTCPeerConnection(servers);
                                pc.addStream(stream);
                                pc.onaddstream = function (e) {
                                    console.log('Remote video was added to Answer!');
                                    attachMediaStream(remoteVideo, e.stream);
                                };

                                var num = 0;
                                var timeout = setInterval(function () {
                                    jQuery.post(
                                            "candidate/", {
                                                candidate: '',
                                                type: 'answer'
                                            },
                                            function (data) {
                                                if (!$.isEmptyObject(data)) {
                                                    pc.addIceCandidate(new RTCIceCandidate(data), function () {
                                                        console.log('Answer addIceCandidate from offer');
                                                    }, error);
                                                }
                                            }
                                    );
                                }, 1000);

                                pc.onicecandidate = function(event){
                                    if (event.candidate) {
                                            jQuery.post(
                                                    "candidate/", {
                                                        candidate: JSON.stringify(event.candidate),
                                                        type : 'answer',
                                                        num : num++
                                                    },
                                                    function (data) {
                                                    }
                                            );
                                    } else {
                                        console.log("End of candidates.")
                                    }
                                };
                                pc.oniceconnectionstatechange = function (e) {
                                    console.log('Answer ICE state: ' + pc.iceConnectionState);
                                };

                                pc.setRemoteDescription(new RTCSessionDescription(offer), function() {
                                    console.log("Answer set Remote Description!");
                                    pc.createAnswer(function (answer) {
                                        pc.setLocalDescription(answer, function () {
                                            // Send offer to remote end.
                                            jQuery.post(
                                                    "answer/", {
                                                        answer: JSON.stringify(answer)
                                                    },
                                                    function() { console.log("Answer sent!"); }
                                            ).error(error);
                                        });
                                    }, function (error) {
                                        console.log('Failed to create session description: ' + error.toString());
                                    }, mandatory);
                                }, error)

                            }, error);
                        }
                ).error(error);

            };

            function error(e) {
                if (typeof e == typeof {}) {
                    alert("Oh no! " + JSON.stringify(e));
                } else {
                    alert("Oh no! " + e);
                }
                endCall();
            }
        })(document, window, AdapterJS)
    </script>
{% endblock %}

